.env
/node_modules
/vendor
/public/storage
/public/hot
/public/mix-manifest.json
/database/database.sqlite
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore